---
---

@import "minima";

.site-header {
  display: none;
}

.post-tags {
  margin-top: 6px;
}

.tag {
  display: inline-block;
  margin-right: 6px;
  font-size: 0.85rem;
  color: #555;
  background: #f2f2f2;
  padding: 3px 7px;
  border-radius: 6px;
}

.post-title {
  font-size: 1.45rem;
  font-weight: 600;
}

.post-meta {
  font-size: 0.85rem;
  color: #777;
}